.card {
    width: 18.75rem;
    background-color: #082129;
    border-radius: 15px;
    cursor: pointer;
}

.card h3 {
    text-align: center;
    padding-block: 0.5rem;
}

.card-img-background {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img-background img {
    width: 250px;
    transition: 200ms all;
}

.card-img-background img:hover {
    transform: scale(1.1);
    filter: saturate(200%) drop-shadow(0 0 20px rgba(0, 0, 0, 0.8));
}

.align-elements {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 0.5rem;
    gap: 20px;
    padding-inline: 10px;
}

.align-elements-outside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10px;
    padding-block: 0.5rem;
    gap: 20px;
}