.normal1 {
    background-color: #A8A878;
}

.fire1 {
    background-color: #F08030;
}

.water1 {
    background-color: #6890F0;
}

.electric1 {
    background-color: #F8D030;
}

.grass1 {
    background-color: #78C850;
}

.ice1 {
    background-color: #98D8D8;
}

.fighting1 {
    background-color: #C03028;
}

.poison1 {
    background-color: #A040A0;
}

.ground1 {
    background-color: #E0C068;
}

.flying1 {
    background-color: #A890F0;
}

.psychic1 {
    background-color: #F85888;
}

.bug1 {
    background-color: #A8B820;
}

.rock1 {
    background-color: #B8A038;
}

.ghost1 {
    background-color: #705898;
}

.dragon1 {
    background-color: #7038F8;
}

.dark1 {
    background-color: #705848;
}

.steel1 {
    background-color: #B8B8D0;
}

.fairy1 {
    background-color: #F0B6BC;
}

.stellar1 {
    background-color: #35ACE7;
}