dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.25);
}

body:has(#overlay[open]) {
    overflow: hidden;
  }

dialog {
    padding: 0;
    outline: none;
    border-radius: 10px;
    background-color: #0D171C;
}

dialog .wrapper {
    padding: 0;
    color: white;
}

dialog .card {
    cursor: default;
    background-color: #0D171C;
}

.align-buttons {
    display: flex;
}

table {
    background-color: #082129;
    width: 100%;
    padding-inline: 10px;
    height: 140px;
}

tr {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

td {
    max-width: 50%;
}

.evolution-chain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    background-color: #082129;
}

.evo-img {
    height: 72px;
    width: 72px;
}

.evo-arrow {
    height: 24px;
    width: 24px;
}