dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

body:has(#overlay[open]) {
    overflow: hidden;
  }

dialog {
    padding: 0;
    outline: none;
    border-radius: 10px;
    background-color: #0D171C;
}

dialog .wrapper {
    padding: 0;
    color: white;
}

dialog .card {
    cursor: default;
    background-color: #0D171C;
}

.align-buttons {
    display: flex;
}

table {
    background-color: #082129;
    width: 100%;
    padding-inline: 10px;
    height: 140px;
}

tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

td {
    max-width: 50%;
}

.evolution-chain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    background-color: #082129;
}

.evo-img {
    height: 72px;
    width: 72px;
}

.evo-arrow {
    font-size: 24px;
}

.align-chain-name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.arrow-btns {
    height: 40px;
    width: 40px;
    transition: 200ms all;
}

.arrow-btns:hover {
    filter: saturate(200%);
    transform: scale(1.1);
    cursor: pointer;
}

.align-card-header-close-btn {
    position: relative;
}

.align-close-dialog-btn {
    position: absolute;
    top: 5px;
    right: 8px;
}

.align-close-dialog-btn:hover {
    cursor: pointer;
}